<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">TREAT Dashboard</a>
        <div class="mr-auto"></div>
        <form method="post" action="/logout">
            <button class="btn btn-link" type="submit">Logout</button>
        </form>
    </div>
</nav>