.experiment-button {
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 400px;
  text-align: center;
  vertical-align: center;
  line-height: 300px;
  font-size: 40px;
  display: inline-block;
  box-shadow: rgba(0,0,0,0.1) 10px 10px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  top: 0;
  transition: all ease 0.3s;
  &.pressed {
    transition: all ease 0.3s;
    box-shadow: none;
    top: 5px;
  }
  &.disabled {
    box-shadow: none;
    opacity: 0.7;
    width: 100px;
    height: 100px;
    font-size: 18px;
    line-height: 100px;
    &:active {
      top: 0;
    }
  }
}