name: Build / Test and Deploy for Dev

on:
  push:
    branches:
      - main

jobs:
  install_global_dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: 14

  build_data_collection_service:
    runs-on: ubuntu-latest
    needs: install_global_dependencies
    steps:
      - uses: actions/checkout@v2
      - name: Install NPM packages
        run: |
          cd services/data-collection
          npm ci
      - name: Build data collection service
        run: |
          cd services/data-collection
          npm run build

  build_experiment_registry_service:
    runs-on: ubuntu-latest
    needs: install_global_dependencies
    steps:
      - uses: actions/checkout@v2
      - name: Install NPM packages
        run: |
          cd services/experiment-registry
          npm ci
      - name: Build experiment registry service
        run: |
          cd services/experiment-registry
          npm run build

  build_widget_registry_service:
    runs-on: ubuntu-latest
    needs: install_global_dependencies
    steps:
      - uses: actions/checkout@v2
      - name: Install NPM packages
        run: |
          cd services/widget-registry
          npm ci
      - name: Build widget registry service
        run: |
          cd services/widget-registry
          npm run build
